.cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  padding:20px;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 10px 10px;
  flex-basis:200px;
  flex-grow:1;
  text-align:center;
}

.card img{
  width: 150px;
  border-radius: 6px;
  margin: 0px auto;
}

.card p {
  font-size: 12 px;
  font-weight: bold;
  text-align: center;
}

.card a {
  text-align: center;
}
